div.post {
    border: solid red;
    padding: 0.5em;
    margin-bottom: 1em;
}

div.sinner {
    padding-left: 5em;
    font-size: 75%;
}

div.body {

}

div.author-icon {
    float: left;
    max-width:50px;
    max-height:50px;
    padding: 0.1em;
}

img {
    max-width: 100%;
    height: auto;
}

div#post-list {
    width: 95%;
    text-align:left;
}