/* ==========================================================================
   Misc
   ========================================================================== */

body{
	color:#333;
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

.fll{
	float:left;	
}

.flr{
	float:right;	
}

.alignr{
	text-align:right;
}

.alignc{
	text-align:center;
}

.clear{
	clear:both;
}

table {
	border-collapse: collapse;
	font-size:12px;
}

th{
	background:#e8f1fa;
	font-weight:600;	
}

th, td {
	padding: 8px;
	text-align: left;
	border: 1px solid #e8e8e8;
}


.cover-image{
	background-image: url(../img/temporary-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

	height:100%;
}

/* ==========================================================================
   Main Login Page
   ========================================================================== */
   
.home h1{
	font-family: 'Damion', cursive;
	color:#fff;
	font-size:80px;
	font-weight:400;
	text-align: center;	
	margin-top:4rem;
	text-shadow: 0px 3px 5px rgba(0,0,0,0.75);
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:300;
	display:block;
	text-align:center;
	margin: 0 0 20px 0;
}
h2 span{
	font-weight:700;
}

.login-container{
	max-width:300px;
	width:100%;
	margin: 0 auto;	
}

.login-box{
	background:#fff;
	border-top: 6px solid Dodgerblue;
	max-width:300px;
	width:100%;
	border-radius:5px;
	padding:20px;
	margin-bottom:6px;
}

.login-box ul{
	margin:0;
	padding:0;
}

.login-box a{
	color:#9fb7ce;
	text-decoration:none;
	font-size:12px;
	float:right;
	position:relative;
	top:-5px;
}
.login-box a:hover{
	color:#276098;
	text-decoration:underline;
}
   
input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    font-family: inherit;
	font-size:16px;
	font-weight:600;	
}

input[type="email"],input[type="password"] {
    margin-bottom: 10px;
	height:42px;
	color:#333;

}   
input[type="submit"] {
    width: 100%;
	background:Dodgerblue;
	color:#fff;
	border-bottom:3px solid #1c7ddc;
	margin-top:14px;
	cursor:pointer;
}
input[type="submit"]:hover {
	background:#44a1fc;
}


/* ==========================================================================
   Dashboard
   ========================================================================== */

.sidebar {
	width: 180px;
	height: 100%;
	position: fixed;
	background: #333;
}

.sidebar-closed{
	margin-left:-180px;
}

.container-margin{
	margin-left:180px;
}

.container-full{
	margin-left:0;
}
   
aside  h1{
	font-family: 'Damion', sans-serif;
	color:#fff;
	background:#333;
	font-size:26px;
	font-weight:400;
	display:block;
	width:100%;
	text-align:center;
	padding:0;
	height:50px;
	line-height:50px;
	margin:0;
	position:absolute;
	bottom:0;
}

.sidebar-list{
	padding:17px 0 20px 0;
	margin:0;
	width:100%;	
}
.sidebar-list li{

}
.sidebar-list li a{
	display:block;
	color:#fff;
	font-weight:700;
	text-decoration:none;
	height:30px;
	line-height:30px;
	padding: 0 30px 0 30px;
	position:relative;
}
.sidebar-list li a:hover{
	background: rgba(0,0,0,0.15);
}

.sidebar-list-bottom{
	position:absolute;
	bottom:50px;
}

.notification{
	font-size:12px;
	background: rgba(255,255,255,0.3);
	border-radius:2px;
	height:21px;
	min-width:20px;
	padding: 0 4px;
	line-height:21px;
	text-align:center;
	color:#fff;
	display:block;
	position:absolute;
	right:30px;
	top:4px;
}

.shade-red{
	background:#ff5c40;
}
.shade-green{
	background:#46c97a;
}
.shade-blue{
	background:#469cc9;
}
.shade-yellow{
	background:#eede2f;
}
.shade-gray{
	background:#afafaf;
}
.shade-soot{
	background:#222;
}

.container header{
	height:50px;
	border-bottom: 1px solid #ccc;
	line-height:50px;
	padding: 10px 10px;
	position:fixed;
	width:100%;
	background:#fff;
}

.toggle-aside{
	float:left;
	background: Dodgerblue;
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	border-radius:2px;
	text-align:center;
	color:#fff;	
}
.toggle-aside i{
	font-size:18px;
	position:relative;
	left:-1px;	
}

.container{
	height:100%;	
}

.page{
	padding:20px;
	background:#eee;
	height:100%;
}
/* ==========================================================================
   Invoice
   ========================================================================== */
   
.invoice{
	border-radius:4px;
	border: 1px solid #d3d3d3;
	max-width:800px;
	width:100%;
	padding:40px 30px 10px 30px;
	font-size:13px;
}
.invoice:after {
	content: "";
	display: table;
	clear: both;
}

.invoice header{
	min-height:90px;
	margin-bottom:25px;
}

.invoice header div{
	max-width:280px;
	width:100%;
}
.invoice header div img{
	max-width:100%;
}

.invoice footer{
	color:#a7a7a7;
	font-size:12px;
	margin-top:40px;
}

.invoice-text{
	color:#c7c7c7;
	font-weight:700;
	font-size:26px;
}

.contact-info:after {
	content: "";
	display: table;
	clear: both;
	margin:30px;
}

.invoice-info-table tr th{
	padding-right:35px;
}

.pricing-table tr td:not(:first-child),.pricing-table tr th:not(:first-child){
	width:10%;
	text-align:right;
}


















